/* Main Body */
body{
    font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
margin: 0 5em;
}
/* Logo & name */
.name{

    color: green;
}
/* 
Menue
 */

  /* NAV Bar */
/* ul{
    display: grid;
      grid-template-columns:repeat(7, 1fr);
} */
 
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(221, 146, 146);
    color: black;
  }
  .cart{
      padding-left: 1260px;
  }

  /* Feature Product */
  .container{
    margin: 2em ;
    padding-left: 400px;
  }
  .feature-product{
    display: flex;
    flex-direction: row; 
  }
  .button{
    width: 250px;
    height: 100px;
    color: white;
    background-color:  #E02C6D;
    border: 10px solid #E02C6D;
    border-radius: 30px;
  }
  .feature-camera{
      background-image:url(images/Circle\ design.svg);
      background-repeat: no-repeat;
    width: 100%;
    height: 40%;
  }
  .feature-camera:hover .photo{
    transform:rotate(720deg);
    transition: transform 3s ease-in-out;
  }

  /* E-commerce Logo */
  .ec-logo{
      display: grid;
      grid-template-columns:repeat(7, 1fr);
      padding-top: px;
      padding-left: 55px;
  }

  /* Popular Collection */
  .popular-collection{
      padding-top: 10em;
      margin: 2em ;
      padding-left: 400px;
      align-items: center;
  }
  /* .section-title{
      padding-bottom: 15px;
  } */
  .collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
    width: 253px;
    box-shadow: honeydew;
    border-radius: 5px;
    
}
.collection{
    padding-top: 30px;
}
.collection .collection-banner img{
    width: 300px;
    height: 300px;
}
.collection-price,.price{
    color: tomato;
}
.collection-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
    background-color: white;
    color:  #ffc014;
}
.fa-star.empty{
    color: #aeaeae  ;
}
.reating{
    color: gray;
}
.note{
    color: blue;
}
 a{
    text-decoration: none;
}
.second-button{
    font-size: large;
    color: #E02C6D;
    background-color: white;
    padding-left: 1300px;
}

/* Optional Part */

.optional{
    margin: 2em ;
    padding-left: 400px;
  }
.watch{
    
    height: 500px;
    display: flex;
    flex-direction: row; 
  }
.extra-product{
    margin-top: 1px
    padding-top: 5em;
    display: flex;
    flex-direction: row; 
  }
.about-watch{
    padding-left: 2em;
    padding-top: 8em;
}  
.third-button{
    width: 250px;
    height: 100px;
    color: white;
    background-color:  #E02C6D;
    border: 8px solid #E02C6D;
    border-radius: 30px;
}

/* Footer */
.footer{
    margin:1em 1em 0 1em;
    padding-top: 5em;
    text-align: center;
}
.f-icon{
    font-size: x-large;
}


/* Media Queires */
/* Mobile Device */
@media only screen and (max-width: 680px) {
    .container, .ec-logo, .popular-collection, .second, .optional, .footer{
        width: 100%;
        margin: 0;
        padding: 0;
        align-items: center;
    }
    .feature-products, .collections, .extra-product{
        grid-template-columns: repeat(1,1fr);
    }
    .feature-product, .collection , .third-button{ 
        flex-direction: column;
    }
}

/* Tablet Devices */
@media only screen and (min-width: 685px) and (max-width: 992px){
   
    .container, .ec-logo, .popular-collection, .second, .optional, .footer{
        width: 100%;
        margin: 0;
        padding: 0;
        align-items: center;
       
    }
    .feature-products, .collections, .extra-product{
        grid-template-columns: repeat(2,1fr);
    }
    .feature-product, .collection, .third-button{
        flex-direction: column;
    }
}
